<%- include('../partials/header.ejs') %>

<div class="content">
	<div class="container-xl mb-3">
		<div class="page-header d-print-none">
			<div class="row align-items-center">
				<div class="col">
					<!-- Page pre-title -->
					<div class="page-pretitle">Overview</div>
					<h2 class="page-title">Notice Board</h2>
				</div>
				<!-- Page title actions -->
				<div class="col-auto ms-auto d-print-none">
					<div class="btn-list">
						<span class="d-none d-sm-inline">
							<a href="/login" class="btn btn-primary"> Login </a>
						</span>
						<!-- <a href="/register" class="btn btn-primary d-none d-sm-inline-block"
                    >
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                        stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <line x1="12" y1="5" x2="12" y2="19" />
                        <line x1="5" y1="12" x2="19" y2="12" />
                    </svg>
                    Start new Application
                </a> -->
					</div>
				</div>
			</div>
		</div>
	</div>

    
    <%if(ongoingElections.length > 0){%>
        
        <div class="container-xl">
        <div class="row row-cards ">
            <%for(var election of ongoingElections){%>
            <div class="col-md-4">
              <div class="card">
                <ul class="nav nav-tabs nav-tabs-alt" data-bs-toggle="tabs">
                  <li class="nav-item">
                    <a href="#tabs-election-<%=election._id%>" class="nav-link active" data-bs-toggle="tab">Election</a>
                  </li>
                  <li class="nav-item">
                    <a href="#tabs-about-<%=election._id%>" class="nav-link" data-bs-toggle="tab">About</a>
                  </li>
                  <li class="nav-item">
                    <a href="#tabs-position-<%=election._id%>" class="nav-link" data-bs-toggle="tab">Positions</a>
                  </li>
                  
                  <li class="nav-item ms-auto">
                    <a href="#tabs-token-<%=election._id%>" class="nav-link" title="Get Vote Token" data-bs-toggle="tab">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="8" cy="15" r="4" /><line x1="10.85" y1="12.15" x2="19" y2="4" /><line x1="18" y1="5" x2="20" y2="7" /><line x1="15" y1="8" x2="17" y2="10" /></svg>                    </a>
                  </li>
                </ul>
                <div class="card-body">
                  <div class="tab-content">
                    <div class="tab-pane active show" id="tabs-election-<%=election._id%>">
                     <div class="">
                          <a class=" card-link" href="#">
                <div class="card-cover card-cover-blurred text-center" style="background-image: url(/static/photos/2854fd67ddbd6217.jpg
)">
                  <span class="avatar avatar-xl avatar-thumb " style="background-image: url(/<%-election.banner%>)"></span>
                </div>
                <div class="card-body text-center">
                  <div class="card-title mb-1"><%=election.header%></div>
                  <div href="#" class="text-muted">Since <%=moment(election.startsAt).fromNow()%> <span id="timeLeft"></span></div>
                  
                </div>
              </a>
                            
                          </div>
                    </div>
                    <div class="tab-pane" id="tabs-about-<%=election._id%>">
                        <div class="mb-3"><%=election.about%></div>
                       <address><strong>Positions<br>              
                       </strong><%if(election.positions.length < 1){%>
                        No position added yet
                        <%}else{%>
                        <%=election.positions.length %>
                       <%}%>position<%if(election.positions.length > 1){%>s<%}else{%><%}%><br>
                                     
                  </address>
                   <address><strong>Candidates<br>              
                       </strong><%if(election.candidatesList.length < 1){%>
                        No candidates found
                        <%}else{%>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal_candidate_list"><%=election.candidatesList.length %> candidate<%if(election.candidatesList.length > 1){%>s<%}else{%><%}%></a>
                       <%}%><br>
                                     
                  </address>
                  <address><strong>Started At<br>
                    </strong><%=moment(election.startsAt).format("LLLL")%></address>
                    <address><strong>Ends At<br>
                    </strong><%=moment(election.endsAt).format("LLLL")%></address>
                    </div>
                    <div class="tab-pane" id="tabs-position-<%=election._id%>">
                      <!-- <div>Fringilla egestas nunc quis tellus diam rhoncus ultricies tristique enim at diam, sem nunc amet, pellentesque id egestas velit sed</div> -->
                     
                     <%if(election.positions.length > 0){%>
                      <div class="list-group card-list-group">
                  <%for(var position of election.positions){%>
        
                  <div class="list-group-item">
                    <div class="row g-2 align-items-center">
                      
                      <div class="col-auto">
                        <img src="/uploads/images/1.jpg" class="rounded" alt="Górą ty" width="40" height="40">
                      </div>
                      <div class="col">
                        <%=position.position%>
                        <div class="text-muted">
                          <a href="#" data-bs-toggle="modal" data-bs-target="#modal_candidate_list_<%=position._id%>" >Candidates</a> <br>
                          <%if(!position.isGeneral || position.allowedVoterGroups > 0){%>
                          Eligible <a href="" data-bs-toggle="modal" data-bs-target="#modal_groups_list_<%=position._id%>">Groups</a>
                          <%}else{%> Open to all <%}%>
                        </div>
                      </div>
                      <div class="col-auto text-muted">
                        <%=position.voters.length%> votes
                      </div>
                      <div class="col-auto">
                        <a href="#" class="link-secondary">
                          <button class="switch-icon" data-bs-toggle="switch-icon">
                            <span class="switch-icon-a <%if(position.voters.length > 0){%> text-green<%}else{%>text-muted<%}%>">
<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 11v8a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-7a1 1 0 0 1 1 -1h3a4 4 0 0 0 4 -4v-1a2 2 0 0 1 4 0v5h3a2 2 0 0 1 2 2l-1 5a2 3 0 0 1 -2 2h-7a3 3 0 0 1 -3 -3" /></svg>                            </span>
  
                          </button>
                        </a>
                      </div>
                      <div class="col-auto lh-1">
                        <div class="dropdown">
                          <a href="#" class="link-secondary" data-bs-toggle="dropdown"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="5" cy="12" r="1" /><circle cx="12" cy="12" r="1" /><circle cx="19" cy="12" r="1" /></svg>
                          </a>
                          <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modal_vote_<%=position._id%>">
                              Vote
                            </a>
                            <a class="dropdown-item" href="#">
                              About this position
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
    <div class="modal modal-blur fade" id="modal_candidate_list_<%=position._id%>" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><%=position.position%> Candidates</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
             <div class="row g-3">

                <%if(position.candidates.length > 0){%>
                      <%for(var candidate of position.candidates){%>
                    <div class="col-6">
                      <div class="row g-3 align-items-center">
                        <a href="#" class="col-auto">
                          <span class="avatar" style="background-image: url(/<%=candidate.candidate.image%>)">
                            <span class="badge bg-red"></span></span>
                        </a>
                        <div class="col text-truncate">
                          <a href="#" class="text-body d-block text-truncate"><%=candidate.candidate.surname%> <%=candidate.candidate.othernames%></a>
                          <small class="text-muted text-truncate mt-n1"><%=candidate.candidate.campus%></small>
                        </div>
                      </div>
                    </div>
                      <%}%>
                  <%}else{%>  No Candidates found <%}%>
                  </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
    </div>

    <div class="modal modal-blur fade" id="modal_groups_list_<%=position._id%>" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><%=position.position%> Eligible Groups</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
             <div class="row g-3">

                <%if(position.allowedVoterGroups.length > 0){%>
                      <%for(var group of position.allowedVoterGroups){%>
                    <div class="col-12">
                      <div class="row g-3 align-items-center">
                        <a href="#" class="col-auto">
                          <span class="avatar" style="background-image: url(/n)">
                            <span class="badge bg-red"></span></span>
                        </a>
                        <div class="col text-truncate">
                          <a href="#" class="text-body d-block text-truncate"><%=group.name%> </a>
                          <small class="text-muted text-truncate mt-n1">Created on <%=moment(group.createdAt).format("LL")%></small>
                        </div>
                      </div>
                    </div>
                      <%}%>
                  <%}else{%>  No group found <%}%>
                  </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
    </div>

    <div class="modal modal-blur fade" id="modal_vote_<%=position._id%>" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><%=position.position%> Ballot</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
             <form id="voteCastForm<%=position._id%>">
                 <%if(position.candidates.length > 0){%>
                    <input type="text" id="thisElection" value ="<%=election._id%>" style="visibility: hidden">
                     <input type="text" id="positionId" value ="<%=position._id%>" style="visibility: hidden">
                <div class="mb-3">
                          <label class="form-label">Email</label>
                          <div class="input-group input-group-flat">
                            <input type="text" class="form-control text-end pe-0"  id="voter_email<%=position._id%>" autocomplete="off">
                            <span class="input-group-text">
                              @live.gtuc.edu.gh
                            </span>
                          </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Vote token</label>
                    <input type="text" id="token<%=position._id%>" class="form-control" placeholder="G0QM45" autocomplete="off"/>
                </div>
                <div class="mb-3">
                          <label class="form-label">Candidates</label>
                          <div class="form-selectgroup form-selectgroup-boxes d-flex flex-column">
                            
                            <%for(var candidate of position.candidates){%>
                            
                            <label class="form-selectgroup-item flex-fill">
                              <input type="radio" name="candidate<%=position._id%>" value="<%=candidate._id%>" class="form-selectgroup-input" >
                              <div class="form-selectgroup-label d-flex align-items-center p-3">
                                <div class="me-3">
                                  <span class="form-selectgroup-check"></span>
                                </div>
                                <div class="form-selectgroup-label-content d-flex align-items-center">
                                  <span class="avatar me-3" style="background-image: url(/<%=candidate.candidate.image%>)"></span>
                                  <div>
                                    <div class="font-weight-medium"><%=candidate.candidate.surname%> <%=candidate.candidate.othernames%></div>
                                    <div class="text-muted"><%=candidate.candidate.campus%></div>
                                  </div>
                                </div>
                              </div>
                            </label>
                             
<%}%>
                            
                          </div>
                </div>
<%}else{%>
                                No candidate
                                 <%}%>
             </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" form="voteCastForm<%=position._id%>"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 11v8a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-7a1 1 0 0 1 1 -1h3a4 4 0 0 0 4 -4v-1a2 2 0 0 1 4 0v5h3a2 2 0 0 1 2 2l-1 5a2 3 0 0 1 -2 2h-7a3 3 0 0 1 -3 -3" /></svg>                            </span>
 Vote</button>
          </div>
        </div>
      </div>
    </div>


<script type="text/javascript" >

document.getElementById('voteCastForm<%=position._id%>').addEventListener("submit", async e=>{
    e.preventDefault();
    const email = document.getElementById('voter_email<%=position._id%>')
    const token = document.getElementById('token<%=position._id%>')
    const candidateChoice = $("input[name=candidate<%=position._id%>]:checked").val()

const electionId = document.getElementById('thisElection')
const positionId = document.getElementById('positionId')

    const domain = "@live.gtuc.edu.gh"

    const voter = email.value + domain


    console.log({voter, token: token.value, candidateChoice: candidateChoice, electionId: "<%=election._id%>",positionId:"<%=position._id%>"});

    const voteNow = await fetch(`/vote/cast/<%=position._id%>/<%=election._id%>`, {
			method: "PUT",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify({voter, voteToken: token.value, candidate: candidateChoice, electionId: "<%=election._id%>"}),
		}).then(response => {
            console.log(response);
           return response.json()
        });
})
</script>







                  <%}%>
                </div>

                <%}else{%>
No Position

    <%}%>
                    </div>
                    <div class="tab-pane" id="tabs-token-<%=election._id%>">
                      <div class="mb-3">Donec ac vitae diam amet vel leo egestas consequat rhoncus in luctus amet, facilisi sit mauris accumsan nibh habitant senectus</div>
                      <form id="tokenForm<%=election._id%>" class="tokenForm" data-electionid="<%=election._id%>">
                        <input type="text" id="election" value="<%=election._id%>" style="visibility:hidden">
                        <div class="mb-3">
                          <label class="form-label">Email</label>
                          <div class="input-group input-group-flat">
                            <input type="text" class="form-control text-end pe-0"  id="voter_mail_<%=election._id%>" autocomplete="off">
                            <span class="input-group-text">
                              @live.gtuc.edu.gh
                            </span>
                          </div>
                        </div>
                        <div class="form-footer">
                    <button type="submit" class="btn btn-primary" form="tokenForm<%=election._id%>">Email me</button>
                  </div>
                      </form>
                      
                    </div>
                    <script>
        // const tokenForm = document.getElementById("tokenForm<%=election._id%>")
           document.getElementById("tokenForm<%=election._id%>").addEventListener("submit", async e =>{
    e.preventDefault();

    const el_id = e.target.dataset.electionid

    console.log(el_id);

    const email = document.getElementById(`voter_mail_${el_id}`);
    // const election = document.getElementById('election');

    const votermail= email.value + "@live.gtuc.edu.gh"

    console.log({email: votermail, election: el_id});

    const sendMail = await fetch(`/vote/token/${el_id}`, {
			method: "PUT",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify({email: votermail}),
		}).then(response => {
            console.log(response);
           return response.json()
        });

        

})

                    </script>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal modal-blur fade" id="modal_candidate_list" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Candidates List</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
             <div class="row g-3">

                <%if(election.candidatesList.length > 0){%>
                      <%for(var candidate of election.candidatesList){%>
                    <div class="col-6">
                      <div class="row g-3 align-items-center">
                        <a href="#" class="col-auto">
                          <span class="avatar" style="background-image: url(/<%=candidate.image%>)">
                            <span class="badge bg-red"></span></span>
                        </a>
                        <div class="col text-truncate">
                          <a href="#" class="text-body d-block text-truncate"><%=candidate.surname%> <%=candidate.othernames%></a>
                          <small class="text-muted text-truncate mt-n1"><%=candidate.campus%></small>
                        </div>
                      </div>
                    </div>
                      <%}%>
                  <%}else{%>  No Candidates found <%}%>
                  </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
            </div>
            <%}%> 
        </div>
    </div>
         
    <%}else{%>
      <div class="container-xl d-flex flex-column justify-content-center">
		<div class="empty">
			<div class="empty-img">
				<img
					src="./static/illustrations/undraw_printing_invoices_5r4r.svg"
					height="128"
					alt=""
				/>
			</div>
			<p class="empty-title">No ongoing election at the moment</p>
			<p class="empty-subtitle text-muted">
				But you can still check out the results of the previous elections.
			</p>
			<div class="empty-action">
				<a href="./." class="btn btn-primary">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="icon"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						stroke-width="2"
						stroke="currentColor"
						fill="none"
						stroke-linecap="round"
						stroke-linejoin="round"
					>
						<path stroke="none" d="M0 0h24v24H0z" fill="none" />
						<circle cx="12" cy="12" r="2" />
						<path
							d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7"
						/>
					</svg>
					Check election results
				</a>
			</div>
		</div>
        </div>  
    <%}%>
	

</div>
<!-- <%- include('../partials/footer.ejs') %> -->


<script src="./dist/libs/nouislider/distribute/nouislider.min.js"></script>
  <script src="./dist/libs/litepicker/dist/litepicker.js"></script>
  <script src="./dist/libs/choices.js/public/assets/scripts/choices.js"></script>
  <!-- Tabler Core -->
  <script src="./dist/js/tabler.min.js"></script>
