<%- include('../partials/dashboardheader.ejs') %>

<div class="content">
	<div class="container-xl">
		<!-- Page title -->
		<div class="page-header d-print-none">
			<div class="row align-items-center">
				<div class="col">
					<div class="page-pretitle"><%=election.header%></div>
					<h2 class="page-title">New Position</h2>
				</div>
			</div>
		</div>
		<form id="positionForm">
		<div class="row row-cards">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Basic Position Details</h3>
					</div>
					<div class="card-body">
						
							<div class="form-group mb-3 row">
								<label class="form-label col-3 col-form-label"
									>Position</label
								>
								<div class="col">
									<input
										type="text"
										class="form-control"
										aria-describedby="emailHelp"
										placeholder="What's the position"
                                        id="position"
									/>
									<small class="form-hint"
										>We'll never share your email with anyone
										else.</small
									>
								</div>
							</div>
							<div class="form-group mb-3 row">
								<label class="form-label col-3 col-form-label"
									>Description</label
								>

								<div class="col">
									<div class="mb-3">
										<label class="form-label"
											>Write briefly description about this position
											<span class="form-label-description"
												>10-100</span
											></label
										>
										<textarea
											class="form-control"
											name="example-textarea-input"
											rows="6"
											placeholder="Start writing..."
                                            id="about"
										>
 </textarea
										>
									</div>
									<small class="form-hint">
										Your password must be 8-20 characters long,
										contain
									</small>
								</div>
							</div>
                              <%if(candidates.length > 0){%>
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">Candidates</h3>
								</div>
								<div
									class="list-group list-group-flush overflow-auto"
									style="max-height: 22rem"
								>
									<div class="list-group-header sticky-top">A</div>

                                    <%for(var candidate of candidates){%>
									<div class="list-group-item">
										<div class="row align-items-center">
                                            <div class="col-auto">
                                                <input type="checkbox" name="amCandidate" value="<%= candidate._id%>" class="form-check-input"></div>
											<div class="col-auto">
												<a href="#">
													<span
														class="avatar"
														style="
															background-image: url(/<%=candidate.image%>);
														"
													></span>
												</a>
											</div>
											<div class="col text-truncate">
												<a href="#" class="text-body d-block"
													><%= candidate.othernames%> <%= candidate.surname%> ~ <%= candidate.campus%></a
												>
												<div class="text-muted text-truncate mt-n1">
													<%= candidate.about%>
												</div>
											</div>
										</div>
									</div>
                                      <%}%>
								</div>
							</div>
                              <%}else{%>
                                Create a new candidate User
                                <%}%>
						
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Addition Configuration</h3>
					</div>
					<div class="card-body">
						
							<div class="form-group row mb-3">
								<label class="form-label col-3 col-form-label pt-0"
									>Restricted</label
								>
								<div class="col">
									<label class="form-check">
										<input
											class="form-check-input"
											type="checkbox"										
                                            id="restricted"
										/>
									</label>
									<small class="form-hint"
										>We'll never share your email with anyone
										else.</small
									>
								</div>
							</div>

							   <%if(candidates.length > 0){%>
							<div class="card d-none" id="eligibleVoters">
								<div class="card-header">
									<h3 class="card-title">Eligible Voters</h3>
								</div>
								<div
									class="list-group list-group-flush overflow-auto"
									style="max-height: 22rem"
								>
									<div class="list-group-header sticky-top">A</div>

                                    <%for(var candidate of candidates){%>
									<div class="list-group-item">
										<div class="row align-items-center">
                                            <div class="col-auto">
                                                <input type="checkbox" name="amEligible" value="<%= candidate._id%>" class="form-check-input"></div>
											<div class="col-auto">
												<a href="#">
													<span
														class="avatar"
														style="
															background-image: url(/<%=candidate.image%>);
														"
													></span>
												</a>
											</div>
											<div class="col text-truncate">
												<a href="#" class="text-body d-block"
													><%= candidate.othernames%> <%= candidate.surname%> ~ <%= candidate.campus%></a
												>
												<div class="text-muted text-truncate mt-n1">
													<%= candidate.about%>
												</div>
											</div>
										</div>
									</div>
                                      <%}%>
								</div>
							</div>
                              <%}else{%>
                                Create a new candidate User
                                <%}%>

							<div class="form-footer">
								<button type="submit" form="positionForm" class="btn btn-primary">
									Add Position
								</button>
							</div>
						
					</div>
				</div>
			</div>
		</div>
		</form>
	</div>
</div>
<!-- Libs JS -->
<script src="./dist/libs/nouislider/distribute/nouislider.min.js"></script>
<script src="./dist/libs/litepicker/dist/litepicker.js"></script>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
<script src="./dist/libs/choices.js/public/assets/scripts/choices.js"></script>

<script>
	// @formatter:off
	document.addEventListener("DOMContentLoaded", function () {
		window.Litepicker &&
			new Litepicker({
				element: document.getElementById("datepicker-start"),
				buttonText: {
					previousMonth:
						'<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="15 6 9 12 15 18" /></svg>',
					nextMonth:
						'<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 6 15 12 9 18" /></svg>',
				},
			});
	});
	// @formatter:on
</script>
<script>
	// @formatter:off
	document.addEventListener("DOMContentLoaded", function () {
		window.Litepicker &&
			new Litepicker({
				element: document.getElementById("datepicker-end"),
				buttonText: {
					previousMonth:
						'<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="15 6 9 12 15 18" /></svg>',
					nextMonth:
						'<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 6 15 12 9 18" /></svg>',
				},
			});
	});
	// @formatter:on
</script>
<script type="text/javascript">
	const positionForm = document.getElementById("positionForm");
	const restricted = document.getElementById("restricted");
	const eligibleVoters = document.getElementById("eligibleVoters");

	let eligibleVoterslist = []
	let candidateslist = []

	restricted.addEventListener("change", e=>{	
			$("#eligibleVoters").toggleClass("d-none")

			if (!e.target.checked) {
			$.each($("input[name=amEligible]:checked"), function (){
				$(this).click();
				
			})
			}
		
	})


	positionForm.addEventListener("submit", async e => {
		e.preventDefault();

		const position = document.getElementById("position");

		const about = document.getElementById("about");

	
		$.each($("input[name=amEligible]:checked"), function (){
				eligibleVoterslist.push($(this).val());
				
			})

		$.each($("input[name=amCandidate]:checked"), function (){
				candidateslist.push($(this).val());
				
			})


		console.log({ position:position.value, about:about.value, eligibleVoters: eligibleVoterslist, candidates: candidateslist });
	
		let data = new FormData();

		// data.append("header", header.value);
		// data.append("about", about.value);
		// data.append("startsAt", start_dateTime);
		// data.append("endsAt", end_dateTime);
		// data.append("banner", banner.files[0]);

		// const saveElection = await fetch(`/elections/new`, {
		// 	method: "POST",
		// 	body: data,
		// }).then(response => response.json());
	
	});
</script>