<%- include('../partials/dashboardheader.ejs') %>

<div class="content">
	<div class="container-xl">
		<!-- Page title -->
		<div class="page-header d-print-none">
			<div class="row align-items-center">
				<div class="col">
					<div class="page-pretitle"><%=election.header%></div>
					<h2 class="page-title">New Position</h2>
				</div>
			</div>
		</div>
		<form id="positionForm">
			<div class="row row-cards">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Basic Position Details</h3>
						</div>
						<div class="card-body">
							<div class="form-group mb-3 row">
								<label class="form-label col-3 col-form-label"
									>Position</label
								>
								<div class="col">
									<input
										type="text"
										class="form-control"
										aria-describedby="emailHelp"
										placeholder="What's the position"
										id="position"
									/>
									<small class="form-hint"
										>We'll never share your email with anyone
										else.</small
									>
								</div>
							</div>
							<div class="form-group mb-3 row">
								<label class="form-label col-3 col-form-label"
									>Description</label
								>

								<div class="col">
									<div class="mb-3">
										<label class="form-label"
											>Write briefly description about this position
											<span class="form-label-description"
												>10-100</span
											></label
										>
										<textarea
											class="form-control"
											name="example-textarea-input"
											rows="6"
											placeholder="Start writing..."
											id="about"
										></textarea>
									</div>
									<small class="form-hint">
										Your password must be 8-20 characters long,
										contain
									</small>
								</div>
							</div>
							<%if(candidates.length > 0){%>
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">Candidates</h3>
								</div>
								<div
									class="list-group list-group-flush overflow-auto"
									style="max-height: 22rem"
								>
									<div class="list-group-header sticky-top">A</div>

									<%for(var candidate of candidates){%>
										
									<div class="list-group-item">
										<div class="row align-items-center">
											<div class="col-auto">
												<input
													type="checkbox"
													name="amCandidate"
													value="<%= candidate._id%>"
													class="form-check-input"
													<%if(election.candidatesList.includes(candidate._id)){%> disabled <%}%>
												/>
											</div>
											<div class="col-auto">
												<a href="#">
													<span
														class="avatar"
														style="
															background-image: url(/<%=candidate.image%>);
														"
													></span>
												</a>
											</div>
											<div class="col text-truncate">
												<a href="#" class="text-body d-block"
													><%= candidate.othernames%> <%=
													candidate.surname%> ~ <%=
													candidate.campus%></a
												>
												<div class="text-muted text-truncate mt-n1">
													<%= candidate.about%>
												</div>
											</div>
										</div>
									</div>
									

									<%}%>
								</div>
							</div>
							<%}else{%> Create a new candidate User <%}%>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Addition Configuration</h3>
						</div>
						<div class="card-body">
							<div class="form-group row mb-3">
								<label class="form-label col-3 col-form-label pt-0"
									>Restricted</label
								>
								<div class="col">
									<label class="form-check">
										<input
											class="form-check-input"
											type="checkbox"
											id="restricted"
										/>
									</label>
									<small class="form-hint"
										>We'll never share your email with anyone
										else.</small
									>
								</div>
							</div>

							<%if(groups.length > 0){%>
							<div class="card d-none" id="eligibleVoters">
								<div class="card-header">
									<h3 class="card-title">Vote Groups</h3>
								</div>
								<div
									class="list-group list-group-flush overflow-auto"
									style="max-height: 22rem"
								>
									<div class="list-group-header sticky-top">A</div>

									<%for(var group of groups){%>
									<div class="list-group-item">
										<div class="row align-items-center">
											<div class="col-auto">
												<input
													type="checkbox"
													name="eligibleGroup"
													value="<%= group._id%>"
													class="form-check-input"
												/>
											</div>
											<div
												class="col-auto avatar bg-indigo-lt"
												data-demo-color
											>
												<a class="">
													<span class="avatar" style=""
														><%=
														group.name.charAt(0).toUpperCase()%></span
													>
												</a>
											</div>
											<div class="col text-truncate">
												<a href="#" class="text-body d-block"
													><%= group.name%>
												</a>
												<div class="text-muted text-truncate mt-n1">
													<%=
													moment(group.createdAt).format("LL")%>
												</div>
											</div>
										</div>
									</div>
									<%}%>
								</div>
							</div>
							<%}else{%> Create a new voter group <%}%>

							<div class="form-footer">
								<button
									type="submit"
									form="positionForm"
									class="btn btn-primary"
								>
									Add Position
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>


<a
	href="#"
	style="visibility: hidden"
	id="modal_success_call"
	data-bs-toggle="modal"
	data-bs-target="#modal_success"
></a>

<a
	href="#"
	style="visibility: hidden"
	id="modal_danger_call"
	data-bs-toggle="modal"
	data-bs-target="#modal_danger"
></a>

<!-- ALERT GOOD-->
<div
	class="modal modal-blur fade"
	id="modal_success"
	tabindex="-1"
	role="dialog"
	aria-hidden="true"
>
	<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
		<div class="modal-content">
			<button
				type="button"
				class="btn-close"
				data-bs-dismiss="modal"
				aria-label="Close"
			></button>
			<div class="modal-status bg-success"></div>
			<div class="modal-body text-center py-4">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="icon mb-2 text-green icon-lg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					stroke-width="2"
					stroke="currentColor"
					fill="none"
					stroke-linecap="round"
					stroke-linejoin="round"
				>
					<path stroke="none" d="M0 0h24v24H0z" fill="none" />
					<circle cx="12" cy="12" r="9" />
					<path d="M9 12l2 2l4 -4" />
				</svg>
				<h3>Position Saved</h3>
				<div class="text-muted" id="modal_success_text">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque
					animi deleniti cupiditate eum consectetur neque, beatae aliquid?
				</div>
			</div>
			<div class="modal-footer">
				<div class="w-100">
					<div class="row">
						<div class="col">
							<a href="/route/elections/single/<%=election._id%>" class="btn btn-white w-100">
								Go to Back
							</a>
						</div>
						<div class="col">
							<a href="" class="btn btn-success w-100" id="success_stay">
								Stay Here
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ALERT BAD-->

<div
	class="modal modal-blur fade"
	id="modal_danger"
	tabindex="-1"
	role="dialog"
	aria-hidden="true"
>
	<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
		<div class="modal-content">
			<button
				type="button"
				class="btn-close"
				data-bs-dismiss="modal"
				aria-label="Close"
			></button>
			<div class="modal-status bg-danger"></div>
			<div class="modal-body text-center py-4">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="icon mb-2 text-danger icon-lg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					stroke-width="2"
					stroke="currentColor"
					fill="none"
					stroke-linecap="round"
					stroke-linejoin="round"
				>
					<path stroke="none" d="M0 0h24v24H0z" fill="none" />
					<path d="M12 9v2m0 4v.01" />
					<path
						d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"
					/>
				</svg>
				<!-- <h3>Are you sure?</h3> -->
				<div class="text-muted" id="modal_danger_text">
					Do you really want to remove 84 files? What you've done cannot be
					undone.
				</div>
			</div>
			<div class="modal-footer">
				<div class="w-100">
					<div class="row">
						<div class="col">
							<!-- <a
								href="#"
								class="btn btn-danger w-100"
								data-bs-dismiss="modal"
							>
								Dele
							</a> -->
						</div>
						<div class="col">
							<a
								href="#"
								class="btn btn-white w-100"
								data-bs-dismiss="modal"
							>
								Alright 
							</a>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Libs JS -->
<script src="./dist/libs/nouislider/distribute/nouislider.min.js"></script>
<script src="./dist/libs/litepicker/dist/litepicker.js"></script>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
<script src="./dist/libs/choices.js/public/assets/scripts/choices.js"></script>

<script>
	// @formatter:off
	document.addEventListener("DOMContentLoaded", function () {
		window.Litepicker &&
			new Litepicker({
				element: document.getElementById("datepicker-start"),
				buttonText: {
					previousMonth:
						'<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="15 6 9 12 15 18" /></svg>',
					nextMonth:
						'<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 6 15 12 9 18" /></svg>',
				},
			});
	});
	// @formatter:on
</script>
<script>
	// @formatter:off
	document.addEventListener("DOMContentLoaded", function () {
		window.Litepicker &&
			new Litepicker({
				element: document.getElementById("datepicker-end"),
				buttonText: {
					previousMonth:
						'<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="15 6 9 12 15 18" /></svg>',
					nextMonth:
						'<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 6 15 12 9 18" /></svg>',
				},
			});
	});
	// @formatter:on
</script>
<script type="text/javascript">
	const positionForm = document.getElementById("positionForm");
	const restricted = document.getElementById("restricted");
	const eligibleVoters = document.getElementById("eligibleVoters");

	let allowedVoterGroups = [];
	let candidateslist = [];

	restricted.addEventListener("change", e => {
		$("#eligibleVoters").toggleClass("d-none");

		if (!e.target.checked) {
			$.each($("input[name=eligibleGroup]:checked"), function () {
				$(this).click();
			});
		}
	});

	positionForm.addEventListener("submit", async e => {
		e.preventDefault();

		const position = document.getElementById("position");

		const about = document.getElementById("about");

		let isGeneral = true;

		if (restricted.checked) {
			isGeneral = false;
		}

		$.each($("input[name=eligibleGroup]:checked"), function () {
			allowedVoterGroups.push($(this).val());
		});

		$.each($("input[name=amCandidate]:checked"), function () {
			candidateslist.push($(this).val());
		});

		console.log({
			position: position.value,
			about: about.value,
			eligibleVoters: allowedVoterGroups,
			candidates: candidateslist,
		});

		const savePosition = await fetch(`/position/new/<%=election._id%>`, {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify({
				position: position.value,
				about: about.value,
				isGeneral,
				allowedVoterGroups,
				candidates: candidateslist,
			}),
		}).then(response => response.json());

		if (savePosition.status == 200) {
			console.log(savePosition.msg);
			document.getElementById("modal_success_text").innerText = savePosition.msg
			document.getElementById("modal_success_call").click();
		} else {
			console.log(savePosition.error);
			document.getElementById("modal_danger_text").innerText = savePosition.error
			document.getElementById("modal_danger_call").click();

		}


	});
</script>
