<%- include('../partials/dashboardheader.ejs') %> <%if(users.length > 0){%>
<div class="content">
	<div class="container-xl">
		<!-- Page title -->
		<div class="page-header d-print-none">
			<div class="row align-items-center">
				<div class="col">
					<h2 class="page-title">Users</h2>
					<div class="text-muted mt-1">
						1-18 of <%=users.length%> people
					</div>
				</div>
				<!-- Page title actions -->
				<div class="col-auto ms-auto d-print-none">
					<div class="d-flex">
						<input
							type="search"
							class="form-control d-inline-block w-9 me-3"
							placeholder="Search user…"
						/>
						<a
							href="#"
							class="btn btn-primary"
							data-bs-toggle="modal"
							data-bs-target="#new-user"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="icon"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								stroke-width="2"
								stroke="currentColor"
								fill="none"
								stroke-linecap="round"
								stroke-linejoin="round"
							>
								<path stroke="none" d="M0 0h24v24H0z" fill="none" />
								<line x1="12" y1="5" x2="12" y2="19" />
								<line x1="5" y1="12" x2="19" y2="12" />
							</svg>
							New user
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row row-cards">
			<%for(var user of users){%>

			<div class="col-md-6 col-lg-3">
				 <a class="card card-link" href="#">
                <div class="card-cover card-cover-blurred text-center" style="background-image: url(/static/photos/5358d787242861c4.jpg
)">
                  <span class="avatar avatar-xl avatar-thumb avatar-rounded" style="background-image: url(/<%=user.image%>)"></span>
                </div>
                <div class="card-body text-center">
                  <div class="card-title mb-1"><%=user.surname%> <%=user.othernames%></div>
                  <div class="text-muted"><%=user.role%></div>
                </div>
              </a>
				
			</div>
			<%}%>
		</div>
		<div class="d-flex mt-4">
			<ul class="pagination ms-auto">
				<li class="page-item disabled">
					<a class="page-link" href="#" tabindex="-1" aria-disabled="true">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="icon"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							stroke-width="2"
							stroke="currentColor"
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round"
						>
							<path stroke="none" d="M0 0h24v24H0z" fill="none" />
							<polyline points="15 6 9 12 15 18" />
						</svg>
						prev
					</a>
				</li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item active">
					<a class="page-link" href="#">2</a>
				</li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item"><a class="page-link" href="#">4</a></li>
				<li class="page-item"><a class="page-link" href="#">5</a></li>
				<li class="page-item">
					<a class="page-link" href="#">
						next
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="icon"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							stroke-width="2"
							stroke="currentColor"
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round"
						>
							<path stroke="none" d="M0 0h24v24H0z" fill="none" />
							<polyline points="9 6 15 12 9 18" />
						</svg>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<%}else{%> <%- include('../partials/noResultFound.ejs') %> <%}%>

<div
	class="modal modal-blur fade"
	id="new-user"
	tabindex="-1"
	role="dialog"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered modal-scrollable" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add a new user</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<div class="alert alert-danger mb-3 d-none" id="alert_danger">
					
				</div>
         <div class="alert alert-success mb-3 d-none" id="alert_success">
					
				</div>
				<form id="userForm">
					<div class="form-group mb-3 row">
						<label class="form-label col-3 col-form-label">Surname</label>
						<div class="col">
							<input
								type="text"
								id="surname"
								class="form-control"
								aria-describedby="emailHelp"
								placeholder="Enter surname"
							/>
							<small class="form-hint"
								>We'll never share your email with anyone else.</small
							>
						</div>
					</div>
					<div class="form-group mb-3 row">
						<label class="form-label col-3 col-form-label"
							>Othernames</label
						>
						<div class="col">
							<input
								id="othernames"
								type="text"
								class="form-control"
								aria-describedby="emailHelp"
								placeholder="Enter othernames"
							/>
							<small class="form-hint"
								>We'll never share your email with anyone else.</small
							>
						</div>
					</div>
					<div class="form-group mb-3 row">
						<label class="form-label col-3 col-form-label"
							>Username</label
						>
						<div class="col">
							<input
								type="email"
								id="username"
								class="form-control"
								aria-describedby="emailHelp"
								placeholder="Enter email"
							/>
							<small class="form-hint"
								>We'll use your email address to send you vital
								information. So, please enter a valid email
								address</small
							>
						</div>
					</div>

					<div class="form-group mb-3 row">
						<label class="form-label col-3 col-form-label">Phone</label>
						<div class="col">
							<input
								type="tel"
								id="phone"
								class="form-control"
								placeholder="Password"
							/>
							<small class="form-hint">
								Your password must be 8-20 characters long, contain
								letters and numbers, and must not contain spaces,
								special characters, or emoji.
							</small>
						</div>
					</div>
					<div class="form-group mb-3 row">
						<label class="form-label col-3 col-form-label"
							>Campus</label
						>
						<div class="col">
							 <select type="text" class="form-select" placeholder="Select a date" id="campus" value="">
                            <option value="Takoradi">Takoradi</option>
                            <option value="Accra">Accra</option>
                            <option value="Ho">Ho</option>
                            <option value="Kumasi">Kumasi</option>
                          </select>
							<small class="form-hint"
								>We'll never share your email with anyone else.</small
							>
						</div>
					</div>
					<div class="form-group mb-3 row">
						<label class="form-label col-3 col-form-label"
							>About</label
						>
						<div class="col">
							<textarea
											class="form-control"
											name="example-textarea-input"
											rows="3"
											placeholder="Write about this user"
											id="about"
										></textarea>
							<small class="form-hint"
								>We'll never share your email with anyone else.</small
							>
						</div>
					</div>
					<div class="form-group mb-3 row">
						<label class="form-label col-3 col-form-label">Role</label>
						<div class="col">
							<select class="form-select" id="role">
								<%if( roles.length > 0 ){%> <%for( var role of roles
								){%>
								<option value="<%=role%>"><%=role%></option>

								<%}%><%}%>
							</select>
						</div>
					</div>
					<div class="form-group mb-3 row">
						<label class="form-label col-3 col-form-label"
							>Profile Picture</label
						>
						<div class="col">
							<input type="file" class="form-control" id="image" />
							<small class="form-hint">
								We'll like you to put a face to this account.
							</small>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn me-auto" data-bs-dismiss="modal">
					Close
				</button>
				<button type="submit" class="btn btn-primary" form="userForm">
					Add User
				</button>
			</div>
		</div>
	</div>
</div>
 <!-- Libs JS -->
  <script src="./dist/libs/nouislider/distribute/nouislider.min.js"></script>
  <script src="./dist/libs/litepicker/dist/litepicker.js"></script>
  <script src="./dist/libs/choices.js/public/assets/scripts/choices.js"></script>
  <!-- Tabler Core -->
  <script src="./dist/js/tabler.min.js"></script>
 <script>
    // @formatter:off
    document.addEventListener("DOMContentLoaded", function () {
    	var el;
    	window.Choices && (new Choices(el = document.getElementById('campus'), {
    		classNames: {
    			containerInner: el.className,
    			input: 'form-control',
    			inputCloned: 'form-control-sm',
    			listDropdown: 'dropdown-menu',
    			itemChoice: 'dropdown-item',
    			activeState: 'show',
    			selectedState: 'active',
    		},
    		shouldSort: false,
    		searchEnabled: false,
    	}));
    });
    // @formatter:on
  </script>
<script type="text/javascript">
	const userForm = document.getElementById("userForm");

	userForm.addEventListener("submit", async event => {
		event.preventDefault();

		const surname = document.getElementById("surname");
		const othernames = document.getElementById("othernames");
		const username = document.getElementById("username");
		const phone = document.getElementById("phone");
		const role = document.getElementById("role");
		const campus = document.getElementById("campus");
		const about = document.getElementById("about");
		const image = document.getElementById("image");

		let data = new FormData();

		data.append("surname", surname.value);
		data.append("othernames", othernames.value);
		data.append("username", username.value);
		data.append("phone", phone.value);
		data.append("role", role.value);
		data.append("campus", campus.value)
		data.append("about", about.value)
		data.append("image", image.files[0]);

		const saveUser = await fetch(`<%=BASE_URL %>/user/new`, {
			method: "POST",
			body: data,
		}).then(response => response.json());

			if (saveUser.status == 200) {
      
      		document.getElementById("alert_danger").classList.add("d-none")
			document.getElementById("alert_success").innerText = saveUser.msg
			document.getElementById("alert_success").classList.remove("d-none")

      		setTimeout(() => {
         		window.location.reload()
     		 }, 2000);

		} else {
			console.log(saveUser.error);
      		document.getElementById("alert_success").classList.add("d-none")
      		document.getElementById("alert_danger").innerText = saveUser.error
			document.getElementById("alert_danger").classList.remove("d-none")
		}
	});
</script>
